body {
    font-family: Alegreya;
}

.header {
    font-size: 6em;
    text-align: center;
}

.marketing-column h2 {
    margin-bottom: 1em;
    color: #2980B9;
    font-size: 40pt;
}

.marketing-column div.background {
    background-color: #ECF0F1;
    padding: 1em;
    font-size: 2em;
}